body{
    overflow-x: hidden;
}
/* Custom styles cho TipTap Editor */
.ProseMirror {
    min-height: 150px;
    outline: none;
  }
  
  .ProseMirror h6 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #4b5563;
  }
  
  .ProseMirror p {
    margin-bottom: 1rem;
  }
  
  /* Thêm border cho editor khi focus */
  .ProseMirror:focus {
    border-color: #10b981;
  }